<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Website Review</title>
  </head>
  <body>
    <div class="container text-center">
      <% if (message !== null) { %> <div class="alert alert-success" id="message"><%= message %></div> <% } %>
      <h1><u>Available Websites</u></h1>
      <ul class="list-unstyled">
        <% if (websites.length > 0) { %>
          <% for(var i=0; i < websites.length; i++) { %>
            <li><a href="/website/<%= i %>"><%= websites[i].title %></a>
            <button type="button" id="<%= i %>" class="editButton btn btn-primary btn-sm">Edit</button></li>
          <% } %>
        <% } else { %>
          <p>There are no websites available :(</p>
        <% } %>
      </ul>

      <hr>

      <div class="siteOptions">
        <a href="/add-new-site">Add a New Website...</a> <br>
        <a href="/remove-site">Remove and existing Website...</a> <br>
        <% if (user === undefined) { %> <a href="/signin">Login</a>
        <% } else { %>  <a href="/logout">Logout</a>  <% } %>
      </div>

      <script type="text/javascript" src="/js/editSite.js">
      </script>

    </div>
  </body>

</html>
