<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Remove a Website</title>
  </head>
  <body>
    <h1>Websites:</h1>
    <ul>
      <% for(var i=0; i < websites.length; i++) { %>
      <li><%= websites[i].title %></li>
      <% } %>
    </ul>
  </body>
</html>
